.product-slide {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center; }

.product-slide img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  padding: 10px;
  box-sizing: border-box; }

.swiper-container {
  margin-top: 20px; }

.swiper-wrapper {
  padding: 30px; }

.product-slide {
  border-radius: 5px;
  margin-bottom: 10px; }

.product-slide img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.product-info {
  border-radius: 5px;
  text-align: center; }

.product-info * {
  padding: 2px;
  margin: 5px; }

.product-info button {
  background-color: orange;
  padding: 10px;
  border: none; }

.swiper-container {
  position: relative; }

.swiper-button-prev {
  position: absolute;
  top: 20%;
  left: 0%; }

.swiper-button-next {
  position: absolute;
  top: 35%;
  right: 0%; }

.swiper-pagination {
  position: absolute;
  top: 10%;
  left: 50%; }

.blog-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%; }

.blog-item {
  width: 40%;
  height: 300px; }

.blog-container {
  width: 100%;
  height: 550px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .blog-container button {
    background-color: transparent;
    border: 2px solid black;
    width: 150px;
    padding: 10px;
    margin: 60px 0px 10px 0px; }
  .blog-container a {
    text-decoration: none;
    color: black; }

.blog-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.blog-item img:hover {
  opacity: 0.9; }

footer {
  background-color: whitesmoke;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: whitesmoke;
  width: 100%; }

.header {
  display: flex; }

.header h1 {
  background-color: transparent;
  border: 2px solid black;
  padding: 20px;
  margin: 20px 0px 0px 40px;
  width: 300px;
  text-align: center; }

ul {
  display: flex; }

li {
  margin-left: 10px;
  padding: 20px;
  list-style-type: none; }

li a {
  text-decoration: none;
  color: black; }

.img-container {
  position: relative;
  width: 33.33%;
  height: 400px;
  margin: 50px 0px 20px 30px; }

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.text-box {
  position: absolute;
  background-color: #ffccd5;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
  font-family: "Great Vibes";
  top: 45%;
  left: 25%;
  width: 500px;
  height: 250px;
  text-align: center; }

.text-box button {
  padding: 5px; }

.text-box * {
  margin-top: 40px; }

.products {
  background-color: #fff0f3;
  width: 100%;
  display: flex;
  flex-direction: column; }

.products h2 {
  text-align: center;
  margin: 20px; }

.item-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 15px; }

.item1-info {
  border: 1px solid black;
  height: 500px;
  background-color: #f7ede2;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Great Vibes'; }

.item1-info button {
  background-color: transparent;
  border: 2px solid black;
  padding: 15px; }

.item1-info * {
  margin: 50px; }

.item1-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 5%;
  height: 95%; }

.item-container {
  width: 33.33%;
  height: 500px;
  position: relative; }

.item1-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.below-img {
  background-color: green;
  position: absolute;
  top: 15%;
  left: 0%;
  width: 100%;
  border: 2px solid green;
  bottom: 0; }

.newsletter {
  padding: 20px; }

.newsletter button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px; }

.newsletter input {
  padding: 10px;
  width: 300px;
  border: none;
  font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
